@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{

}

body{
    font-family: 'Montserrat',
    sans-serif;
}

/* conatiners */
.container{
    padding: 0 1rem 0 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}