@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root{
    --primary-color : #3730A3;
    --secondary-color: #A5B4FC;
}

body{
    margin: 0;
    font-family: 'Montserrat',
    sans-serif;
    text-align: center;
}

header{
    background: linear-gradient(
        -40deg,
        var(--secondary-color),
        var(--primary-color)
    );
    padding: 0.25rem;
    border-bottom-left-radius: 0.5rem;
    color: #ffff;
}
/* functional components */
.content{
    width: 60%;
    height : 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;

}
textarea{
    display: block;
    margin: 1rem;
}

#output{
    border: 1px solid black;
}

.centered{
    justify-content: center;
    padding: 1rem 0;
}

#btnTranslate{
    background: linear-gradient(
        -50deg,
        var(--secondary-color),
        var(--primary-color)
    );
    border: transparent;
    padding: 1rem 2rem;
    font-size: medium;
    cursor: pointer;
    border-radius: 2rem;
    color: #ffff;
}
/* footer */
footer{
    background: var(--primary-color);
    width: 100%;
    border-top-right-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    color: #ffff;
}

.footer-content{
    width: 80%;
    margin: auto;
    padding: 1rem;
}